 <footer class="footer__container">
    <ul>
        <li>Av Italia 5600, Belgrano, Capital, Bs. As.</li>
        <li>Telefono: 011 - 4567895</li>
        <li>E-mail: info@multitienda.com </li>
    </ul>

   <div class="container_icon">
      <ul class="ul_icon">
          <li><a href="https://es-la.facebook.com/"><img src="/icon/icono facebook fondo blanco.png" alt=""></a></li>
          <li><a href="https://twitter.com/iniciarsesion_"></a><img src="/icon/twitterfrancia-1200x800.jpg" alt=""></li>
          <li><a href="https://www.instagram.com/?hl=es"></a><img src="/icon/instagran fondo blanco.jpg" alt=""></li>
      </ul>
  </div>

</footer>
